
#content{
    justify-items: center;
    margin: auto;
    width: 50%;
}
#header{
    display:flex;
    gap:5px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
#logo{
    width: 50px;
    height: auto;
}
h1{
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
p{
  font-family: "Amatic SC", sans-serif;
  color:rgb(101, 158, 211);
  font-weight: 800;

}
#search{
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
}
.search-container{
    position: relative;
    width: 90%;
    margin: 0;
}

.search-container input{
    width: 100%;
    padding-right: 20px; 
    height: 30px;
}
.search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    pointer-events: none;
}
#search-decor
{
    transform:rotate(180deg);
    width: 10px;
    transform: translateY(-50%);
    right: 10px;

}
#apple{
    width: 100%;
    justify-self: center;
    margin: auto;
}
.icons{
    width: 100%;
    margin: 10px;
}
button{
    display: block;
}
#main_info{
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  
}
.social{
    width: 90px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}
footer{
    font-size: small;
    text-align: center;
}
.icons{
    border-radius: 2px;
}

@media (min-width: 600px){
    #content{
        width: 600px;
    }
    #main_info{
        border: 2px black solid;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        align-items:flex-start;
        gap: 15px;
        width: 400px;
    }
    #apple{
        width: 250px;
        height: auto;
    }
    #dessert_rating{
        display: flex;
        flex-direction: column;
    }
    button{
        margin-bottom: 20px;
        width: fit-content;
    }
    .social{
        margin-left: auto;
        display:flex;
        gap: 2px;
        margin-right: 100px;

    }
    .search-container{
        position: relative;
        width: 65%;
        margin: 0;
    }
    p{
        font-size: 30px;
        margin: 0;
    }
    .search-container input{
        width: 100%;
        padding-right: 20px; 
        height: 30px;
    }

    .search-icon{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        pointer-events: none;
   }


}