
#content{
    justify-items: center;
    margin: auto;
    width: 50%;
}
.organizer{
    justify-content: center;
}
#header{
    display:flex;
    gap:5px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
#logo{
    width: 50px;
    height: auto;
}
h1{
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h2{
  font-family: "Amatic SC", sans-serif;
  color:rgb(101, 158, 211);
  font-weight: 800;

}
#search{
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
}
.search-container{
    position: relative;
    
    margin: 0;
}

.search-container input{
    width: 100%;
    padding-right: 20px; 
    height: 30px;
}
.search-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    margin: 0px;
    padding: 0px;
}
label{
    display: none;
}
#search-decor
{
    position: absolute;
    transform:rotate(180deg);
    width: 1px;
    transform: translateY(-75%);
    right: 30px;
    top:50%;
    height:30px;
    background: black;
    border:none;

}
#content-spacer{
    width:100%;
    border:none;
    border-top: 1px solid black;
    margin: 15px 0;
}
#apple{
    width: 100%;
    justify-self: center;
    margin: auto;
}
.icons{
    width: 100%;
    margin: 10px;
    border-radius: 2px;

}
.description{
    display: none;
}
button{
    display: block;
}
#main_info{
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  
}
.social{
    width: 90px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    gap: 2px;
}
footer{
    font-size: small;
    text-align: center;
}


@media (min-width: 600px){
    #content{
        width: 600px;
    }
    #main_info{
        border: 2px black solid;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        align-items:flex-start;
        gap: 15px;
        width: 100%;
    }
    #apple{
        width: 250px;
        height: auto;
    }
    #dessert_rating{
        display: flex;
        flex-direction: column;
    }
    button{
        margin-top: 15px;
        margin-bottom: 20px;
        width: fit-content;
        
    }
    .social{
        margin-left: auto;
        margin-right: 40px;

    }
    .search-container{
        position: relative;
        margin: 0;
    }
    p{
        font-size: 30px;
        margin: 0;
    }
    .search-container input{
        width: 100%;
        padding-right: 20px; 
        height: 30px;
    }

    .search-icon{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        pointer-events: none;
   }
   .description{
        display: inline;
        font-size: 10px;
        font-family: 'Times New Roman', Courier, monospace;
        margin-top: 10px;
        color: black;
   }
   footer{
        display: flex;
        width: 500px;
        justify-self: center;
        order: -1;
        margin-top: 5px;
   }
   .social{
        order: 1;
        justify-self: flex-end;
        margin-right: 0;
        
   }
   #link{
        align-self: center;
   }


}