@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&display=swap');

body{
    background-color:black;
}
nav{
    display: flex;
    align-items: center;
    font-family: "Playfair Display", serif;
    border-bottom: 2px solid #fff7ed;
    margin:0px;
    padding:0px;
    height:60px;
    justify-content: space-between;
    background: linear-gradient(120deg, #f2cc8f, rgb(40, 116, 103));
}
#studio_name{
    font-family: "Italianno", cursive;
    font-size: 30px;
    width: 95px;
    padding-left: 30px;
    color:#e07a5f;
}
#studio_name:hover{
    transform: rotate(360deg);
    transition: transform 0.5s;
    text-shadow: 0px 0px 10px #ee3f0f;
}
#link_container{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color:#8ed3bd;
    font-size: 16px;
}
nav a:hover{
    color:#90d7f3;
    opacity: 0.7;
    transform: scale(1.2);
}
h1{
    color:#f2cc8f;
    font-family: 'PlayFair Display', sans-serif;
}
h1:hover{
    text-shadow: 0px 5px 40px rgb(131, 150, 48);
    transform: skewX(20deg);
}