 body{
           text-align: center;
           justify-content: center;
           margin: 50px;
        }
        #topics{
          width: 430px;
          margin-left: 410px;
          margin-right: 400px;
        }
        h1 + p{
            color:rgb(100, 100, 240);
            font-weight: bold;
        }
        hr{
            border-color:rgb(100, 100, 240);
            width: 35%
         
        }
        .list{ 
            padding:0px;
            margin-left:65px;
        }
        .list li{
           list-style-type:none;
           text-align: left;
        }
        img{
            width:27%;
            height: auto;
        }
