
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    visibility: hidden;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    section{
        display: inline-block;
        width:330px;
    }
    .menu-btn{
        display:none;
    }
    nav a{
        visibility: visible;
        font-size: 1.2em;
        font-style: italic;
    }
    nav{
        text-align: right;
    }

}

@media screen and (min-width: 1030px) {
    main{
        flex-wrap: nowrap;
    }
}


          