body{
    font-family: 'Georgia';
}
/* Overall Page Styles*/

/* Navigation Bar*/
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    width:100%;
    position: relative;
}
.nav_logo_section{
    display: flex;
    gap: 8px;
    align-items: center;
}
.nav_logo_section h4{
    color: #f25f5c;
    font-size: 20px;
    font-family: 'Bagel Fat One';
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav_links_container{
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    z-index: 1000;
}
.nav_links_container.active{
    display: flex;
    max-height: 600px;
}
.nav_links_container a{
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.nav_links_container a:hover {
    color: #a332a3;
    background-color: rgb(247, 241, 241);
} 

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 20px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(122, 119, 119);
    margin: 5px 0;
}

/* Footer */
footer{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image:linear-gradient(to bottom, white, rgb(253, 240, 200), rgb(220, 175, 40), #f25f5c);
}
.footer_logo_section{
    display: flex;
    gap: 8px;
    align-items: center;
}
.footer_logo_section h3{
    color: lightcoral;
    font-family: 'Bagel Fat One';
}
/* Footer Mission Statement*/
.mission_info{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.mission_info p{
    color:black;
}
/* Footer Quick Links*/
.quick_links h3{
    color:rgb(19, 12, 12);
}
.quick_links div{
    display: flex;
    flex-direction: column;
}
.quick_links div a{
    text-decoration: none;
    padding: 10px;
    color: #090909;
}
.quick_links div a:hover{
    color: #9c0fb1;
}
.quick_links{
    display: flex;
    flex-direction: column;
}
.follow_us{
    display: flex;
    flex-direction: column;
}
.icons{
    padding: 10px;
    width: 20px;
}
.follow_us div{
    display: flex;
    flex-direction: row;
}
.additional_info{
    display: flex;
    flex-direction: row;
    gap: 55px;
}
/* Bottom of the Footer*/
footer hr{
    width: 100%;
    margin: 20px 0;
}
.signature{
    text-align: center;
}

/* Home Page Styles*/

/*Home Page Header Banner*/
#home_page_intro h1,
#home_page_intro p{
    color:white;
}
#home_page_intro div{
    width: 80%;
}
#home_page_intro p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#home_page_intro h1{
    font-size: 35px;
}
.homeBtns{
    font-size: 15px;
    color: rgb(175, 75, 75);
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;

}
#home_mainBtn{
    text-decoration: none;
}
.homeBtns:hover{
    background-color: rgb(250, 247, 247);
    transform: scale(1.05);
}
#home_page_intro{
    background-image:linear-gradient(150deg,rgb(160, 56, 171), rgb(227, 114, 241),#ec3c39,rgb(220, 175, 40));
    padding: 25px;
}
#home_page_intro h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Home Page Main Information */
#home_main_info{
    text-align: center;
    margin: 50px auto;
    width:100%;
}
#nonprofit_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#nonprfit_cards div{
    overflow: hidden;
}
#nonprofit_cards div img{
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(113, 106, 113);
}
#nonprofit_cards div p{
   color: black;
}
#nonprofit_cards div img:hover{
    transform: scale(1.1);
}

/* Mission Statement*/
#home_second_info{
    align-items: center;
    gap: 20px;
    color:black;
    padding: 20px;
    width: 100%;
    margin: 15px;
}
#mission_statement{
    display: flex;
}
#mission_statement div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#mission_statement p{
    color: black;
    max-width: fit-content;
    font-size: 18px;
    line-height: 1.5;
    margin: 0px;
}
#mission_statement img{
    display: none;
}
#make_a_difference{
    text-align: center;
    background-image:linear-gradient(to right,rgb(160, 56, 171), rgb(239, 119, 237), rgb(234, 134, 134));
    width:100%;
    padding:30px;
    margin-bottom: 35px;
}
#make_a_difference p{
    color:black;
}
#suggestionBtn{
    text-decoration: none;
}

/* Crisis Page Styles */

/* Crisis Resources Banner */
#crisis_page_intro{
    background-image:linear-gradient(180deg,#f25f5c,#ec7472,rgb(220, 175, 40));
    padding: 20px;
    color: white;
    margin-bottom: 0px;
}
#crisis_page_intro h1{
    font-size: 35px;
}
#crisis_page_intro p{
    font-size: 20px;
}
#warning_info{
    background-color: #fee7e7;
    margin-top: 0px;
    border-left: 2px solid rgb(175, 14, 14);
    padding: 10px;
}
#warning_info p:nth-child(1){
    color: rgb(117, 1, 1);
    font-weight: bold;
}

/* Crisis Support Section */
#crisis_resources, #safety_planning{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
#crisis_resources div {
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(181, 175, 181);
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    line-height: 1.5;
    
}
#crisis_resources div p:nth-child(2){
    color:rgb(16, 182, 146);
    font-weight: bold;
}
#crisis_resources div:hover, #s_text div:hover{
    transform: scale(1.1);
}

/* Safety Planning Section */
#s_text div{
    text-align: left;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(181, 175, 181);
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    line-height: 2.0;
    background-color: rgb(255, 222, 221,0.5);

}
#safety_planning div li{
    list-style-position: inside;
    list-style-type:square;
}
/* Child Pages */

/* Search Container*/
.search-container{
    width:100%;
   
    position: relative;
    margin: 15px auto;
    display: flex;  
}
.search-container input{
    width: 100%;
    padding-right: 20px; 
    height: 48px;
    border-radius: 10px;
    margin: auto;
}
.search-decor{
    transform: translateY(-65%);
    position: absolute;
    width: 1px;
    right: 50px;
    top:50%;
    height:50px;
    background: black;
    border:none;
}
.search-icon{
    width: 20px;
    height: 20px;
}
.forSearch{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0px; 
    background: none;
    border: none;
}

/* Child Page Banners */
#education_page_intro, #safety_page_intro, #health_page_intro{
    background-image:linear-gradient(150deg,rgb(160, 56, 171), rgb(238, 148, 250),#f25f5c,rgb(220, 175, 40));
    padding: 25px;
    margin-bottom: 25px;
    color: white;
}

/* Child Page Cards*/
.health_np_card, .ed_np_card, .safety_np_card{
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(181, 175, 181);
    width: 50%;
    margin: 35px auto;
    line-height: 1.5;
    overflow: hidden;
}
.health_np_card img, .ed_np_card img, .safety_np_card img{
    height: auto;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    order:1;
    padding:10px;
}
.health_np_card img:hover, .ed_np_card img:hover, .safety_np_card img:hover{
   transform: scale(1.1);
   transition: transform 0.4s;
}
.health_np_info, .ed_np_info, .safety_np_info{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.health_np_info a, .ed_np_info a, .safety_np_info a{
    text-decoration: none;
    color: black;
    order: 3;
}
.health_np_info a:hover, .ed_np_info a:hover, .safety_np_info a:hover{
    text-decoration: none;
    color: rgb(97, 14, 104);
}
.health_np_info p, .ed_np_info p, .safety_np_info p{
    text-decoration: none;
    color: rgb(84, 83, 83);
    order: 4;
}
.np-tags button{
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 0px solid;
    background-color: rgb(243, 194, 240);
}
.np-tags{
    order: 2;
  
    padding-bottom:15px;
}
#form_warning{
    color: red;
    text-align: center;
}

@media screen and (min-width:600px) {
    #home_second_info{
        padding: 20px;
        max-width: 1250px;
        margin: auto;
        margin-bottom: 35px;
    }
    #home_second_info h2{
        margin-bottom: 20px;
    }
    #mission_statement{
        display: flex;
        gap: 50px;
        max-height: 1000px;
        max-width: 1200px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 45px;
        align-items: center;
    }
    #mission_statement img{
        display: inline;
        width: 50%;
        height:auto;
        border-radius: 10px;
        margin-top:10px;
        margin-bottom:10px;
        margin-right: 25px;
    }
    #health_cards, #education_cards, #safety_cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .health_np_card, .ed_np_card, .safety_np_card{
        width: 70%;
    }
    .health_np_info, .ed_np_info, .safety_np_info{
        
        display: flex;
        flex-direction: column;
    }
    .search-container{
        width:50%; 
    }
    #crisis_resources{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1080px;
        margin: auto;
    }
    #crisis_resources h2{
        margin-top: 45px;
        margin-bottom: 45px;
        grid-column: 1/3;
    }
    #safety_planning{
        max-width: 1080px;
        margin: 45px auto 45px auto ;
    }
    #safety_planning h2{
        max-width: 1080px;
        margin: 45px auto 45px auto ;
    }
    #s_text{
        display:flex;
        flex-direction: row;
        gap: 50px;
    }
    #nonprofit_cards{
        gap: 60px;
        margin-top: 55px;
    }
    #home_main_info h2{
        margin-bottom: 40px;
    }
    #nonprofit_cards div img{
        width: 300px;
        border-radius: 10px;
        box-shadow: 3px 5px 10px rgb(113, 106, 113);
    }
}
