#main-content{
    margin: 5% 20% 5% 20%;
    align-content: center;
    border : 4px lightcoral solid;
    padding: 25px;
}

#student_names{
    list-style: none;
}
.student_info{
    padding: 5px;
    border : 5px rgb(242, 199, 150) dotted;
    margin: 15px;
    border-radius: 2%;
}
.top{
    margin: 15px;
    padding: 5px;
    border : 5px rgb(145, 246, 157) dotted;
    border-radius: 2%;
}
.favorites{
    margin: 15px;
    padding: 5px;
    border : 5px rgb(169, 197, 249) dotted;
    border-radius: 2%;
}

@media (min-width:1045px){
    #student_names{
       display: flex;
       gap: 2rem;
    }
}

