
h1,footer{
    text-align: center;
}
nav{
    text-align: right;
    padding: 0.5rem;
}
nav a{
    padding: 1.5rem;
    text-decoration: none;
    color:rgb(186, 41, 41);
}
#main-content{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'design design'
    '.      book_descriptors'
    'book    .'
}
.design{ 
    margin-top: 2rem;
    grid-area: design;
    width:100%;
}
.book_descriptors{
    grid-area:book_descriptors;
    text-align: right;
    padding-right: 1.5rem; 
}
.book{
    grid-area:book;
    text-align: center;
}
h2{
    color:rgb(186, 41, 41);
}
hr{
    border-color: rgb(243, 208, 69);
}
footer{
    margin-top:2rem;
}

@media(min-width: 700px){
  #main-content{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        'book_descriptors design book' ;
        max-width: 800px;
        margin: 3rem auto;
    }
    .design{ 
        grid-area: design;
        width:0%;
        margin:0;
    }
    .book_descriptors{
        grid-area:book_descriptors;
        text-align: right;
        padding-right: 1.5rem; 
    }
    .book{
        grid-area:book;
        text-align: center;
        margin:0px;
    }
}
